html,body{
    height: 100%;
	text-shadow: none;
}

body { 
	padding-top: 220px; 
	color: rgb(88, 89, 91);
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	zoom: 1;


	line-height: normal;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
}

#wrap {
  min-height: 100%;
}

#main {
  	padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

/*********************************************** 
 *	UNIVERSITY CI / CD COLORS 
 ***********************************************/

.uk-ci-default-bg {/* Darkest Blue*/
	background-color: rgb(37, 55, 70);
}
.uk-ci-default-text {/* Darkest Blue*/
	color: rgb(37, 55, 70);
}

.uk-ci-second-bg {/* Darkest Blue*/
	background-color: rgb(50, 71, 91);
}
.uk-ci-second-text {/* Darkest Blue*/
	color: rgb(50, 71, 91);
}

.uk-ci-third-bg {/* Dark Blue*/
	background-color: rgb(62, 86, 108);
}
.uk-ci-third-text {/* Dark Blue*/
	color: rgb(62, 86, 108);
}

.uk-ci-fourth-bg {/* Almost Light Blue*/
	background-color: rgb(74, 101, 125);
}
.uk-ci-fourth-text {/* Almost Light Blue*/
	color: rgb(74, 101, 125);
}

.uk-ci-additional-light-bg {/* Truly light Blue */
	background-color: rgb(227, 232, 237);
}
.uk-ci-additional-light-text {/* Truly light Blue */
	color: rgb(227, 232, 237);
}

.text-white {
	color: white!important;
}

.text-white-r > * {
	color: white!important;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** */

.color-wiso-bg {/* green */
	background-color: rgb(132, 174, 40)!important;
}
.color-wiso-text {/* green */
	color: rgb(132, 174, 40)!important;
}

.color-law-bg {/* dark-red */
	background-color: rgb(85, 85, 85)!important;
}
.color-law-text {/* dark-red */
	color: rgb(85, 85, 85)!important;
}

.color-phil-bg {/* purple */
	background-color: rgb(113, 39, 122)!important;
}
.color-phil-text {/* purple */
	color: rgb(113, 39, 122)!important;
}

.color-med-bg {/* red */
	background-color: rgb(220, 41, 30)!important;
}
.color-med-text {/* red */
	color: rgb(220, 41, 30)!important;
}

.color-math-bg {/* light-blue */
	background-color: rgb(0, 149, 195)!important;
}
.color-math-text {/* light-blue */
	color: rgb(0, 149, 195)!important;
}

.color-hum-bg {/* green */
	background-color: rgb(216, 168, 24)!important;
}
.color-hum-text {/* green */
	color: rgb(216, 168, 24)!important;
}

/*********************************************** 
 *	FOOTER STYLE
 ***********************************************/

#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: auto;
  padding-top: 40px;
} 

#footer p {
	padding: 0; margin: 0;
	padding-top: .5em;
	padding-bottom: .5em;
	min-height: 30px;
	height: auto;
  	font-size: 14px;
  	line-height: 16px;
  	color: white;
}

#copyright {
	margin-right: 2em;
}

#footer a {
	color: white;
	background-color: transparent;
	text-decoration: none;
	margin-left: .2em;
	margin-right: .2em;
}

#footer a:hover,
#footer a:focus {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

.footer-slice {
	display: block;
}
.fs-default {
	background-color: rgb(37, 55, 70);
	padding-bottom: 50px;
}
.fs-second {
	background-color: rgb(50, 71, 91);
}
.fs-third {
	background-color: rgb(62, 86, 108);
}
.fs-fourth {
	background-color: rgb(74, 101, 125);
}
.fs-small-text > p {
	font-size: 12px!important;
}

/*********************************************** 
 *	MODIFIED TWBS ALERT
 ***********************************************/

.alert {
	border: none;
	box-shadow: none;
}

.alert > a:hover,
.alert > a:focus {
	background-color: transparent;
	text-decoration: underline;
}

.alert-default, 
.alert-default a, 
.alert-default a:hover, 
.alert-default a:focus {
	background-color: rgb(245, 245, 245);
	color: rgb(88, 89, 91);
}

.alert-dangerous, 
.alert-dangerous a {
	background-color: rgb(169, 68, 66);
	color: white!important;
}



/*********************************************** 
 *	MODIFIED TWBS PROGRESS BAR
 ***********************************************/

.progress {
	background-image: none;
	box-shadow: none;
}

.progress-bar {
	background-image: none;
	box-shadow: none;
	background-color: #ccc;
	padding-bottom: 50px;
}

.progress-bar-default {
	background-color: rgb(37, 55, 70);
}
.progress-bar-second {
	background-color: rgb(50, 71, 91);
}
.progress-bar-third {
	background-color: rgb(62, 86, 108);
}
.progress-bar-fourth {
	background-color: rgb(74, 101, 125);
}

.progress-bar-light {
	background-color: rgb(227, 232, 237);
	color: rgb(37, 55, 70);
}

/*********************************************** 
 *	ELEMENTS STYLE
 ***********************************************/

h1, h2, h3, h4, h5, h6 {
	color: rgb(62, 86, 108);
	margin-top: 12px;
	margin-bottom: 12px;
	display: block;
}

h1 {
	font-size: 34px;
	font-weight: 700;
} 

h2 {
	font-size: 24px;
	font-weight: 600;
}

h3 {
	font-size: 22px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	font-weight: 600;
}

h6 {
	font-size: 16px;
	font-weight: 600;
}

p {
	font-size: 16px;
	line-height: 130%;
}

strong {
	display: inline;
	font-weight: bold;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: square;
}

li {

}

li a {
	color: rgb(88, 89, 91);
	text-decoration: underline;
}

li .active a, a:hover, a:focus {
	background-color: rgb(62, 86, 108);
	color: rgb(255, 255, 255);
	text-decoration: none;
}

a.link {
	text-decoration: none;
	color: rgb(88, 89, 91)!important;
	background-color: transparent;
}

a.link:hover,
a.link:focus,
a.link .active {
	text-decoration: underline!important;
	color: rgb(88, 89, 91)!important;
	background-color: transparent;
}

/*********************************************** 
 *	MODIFIED TWBS PANEL
 ***********************************************/

.panel-heading {

}
.panel-body {

}
.panel {
	box-shadow: none!important; 	
 }

 bar {
 	width: 100%;
 }

.corner {
	position: absolute;
   	top: 0;
   	left: 0;
}

.p0-m0 {
	padding: 0; 
	margin: 0;
}


/*********************************************** 
 *	MODIFIED TWBS BREADCRUMB
 ***********************************************/

.breadcrumb > li + li:before {
    content: "> ";
    padding: 0 5px;
    color: rgb(89, 89, 89)!important;
}

.breadcrumb {
	background-color: transparent;
	padding-left: 0;
	font-weight: 600;
	font-style: italic;
	font-size: small;
    color: rgb(89, 89, 89)!important;
}

.breadcrumb a {
	text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:hover {
	text-decoration: underline;
	background-color: transparent;
	color: rgb(89, 89, 89);
}

.breadcrumb li.active a {
	text-decoration: none;
	background-color: transparent;
}

/*********************************************** 
 *	MODIFIED TWBS CAROUSEL STYLE
 ***********************************************/

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators {
  bottom: -37px;
}

.carousel-inner {
	margin-top: 35px;
   	margin-bottom: 50px;
}

.carousel-indicators li {
	background-color: rgb(122, 147, 171)!important;
	width: 12px; height: 12px;
	margin: 0; padding: 0;
	border: 0;
	margin-left: .5em;
	margin-right: .5em;
}

.carousel-indicators .active {
	background-color: rgb(50, 71, 91)!important;
	width: 12px; height: 12px;
	margin: 0; padding: 0;
	border: 0;
	margin-left: .5em;
	margin-right: .5em;
}

.carousel-control .glyphicon {
	text-shadow: none!important;
	color: white!important;
}

a.carousel-control {
    background-color: transparent;
}

a.carousel-control:hover,
a.carousel-control:focus {
    background-color: rgba(50, 71, 91, 0.870588)!important;
}

/*********************************************** 
 *	HEADER STYLE
 ***********************************************/

#spacy {
	
}

#header {
  	top: 0;
 	position: fixed;
 	background-color: rgb(50, 71, 91);
 	height: 100px;
 	width: 100%;
	color: white;

	z-index: 999;
}

#header h1 {
	font-size: 24px;
}

#header h2, #header h1,
#header h3, #header h4, #header h5 {
	padding: 0;
	margin: 0;

	padding-top: 10px;
	padding-left: 100px;
	color: white!important;
}

#header a {
	color: white;
	text-decoration: none;
}

#header a:hover, a:focus {
   	text-decoration: underline;
   	background-color: rgb(50, 71, 91);
}

#header-logo {
	max-height: 90px;
	min-width: auto;
	padding-top: 10px;
}


/*********************************************** 
 *	NAVBAR STYLE
 ***********************************************/

/* 
/	Modified navbar-default --> navbar-woms
/
/	Default color usage
/	Here are the main colors and their usage :
/
/	#F8F8F8 : 	navbar background
/	#E7E7E7 : 	navbar border
/	#777 : 		default color
/	#333 : 		hover color (#5E5E5E for .nav-brand)
/	#555 : 		active color
/	#D5D5D5 : 	active background
*/

/*rgb(50, 71, 91);
rgb(0, 44, 55);*/

.navbar-fixed-top {
  	top: 100px;
 } 

/* navbar */
.navbar-woms {
    background-color: rgb(50, 71, 91);
}
/* title */
.navbar-woms .navbar-brand {
    color: white;
}
.navbar-woms .navbar-brand:hover,
.navbar-woms .navbar-brand:focus {
    color: white;
   	text-decoration: underline;
   	background-color: rgb(0, 44, 55);
}
/* link */
.navbar-woms .navbar-nav > li > a {
    color: white;
    text-decoration: none;
}
.navbar-woms .navbar-nav > li > a:hover,
.navbar-woms .navbar-nav > li > a:focus {
    color: white;
    background-color: rgb(0, 44, 55);
    text-decoration: underline;
}
.navbar-woms .navbar-nav > .active > a, 
.navbar-woms .navbar-nav > .active > a:hover, 
.navbar-woms .navbar-nav > .active > a:focus {
    color: rgb(88, 89, 91);
    background-color: white;
}
.navbar-woms .navbar-nav > .open > a, 
.navbar-woms .navbar-nav > .open > a:hover, 
.navbar-woms .navbar-nav > .open > a:focus {
    color: white;
    background-color: rgb(0, 44, 55);
}
/* caret */
.navbar-woms .navbar-nav > .dropdown > a .caret {
  
}
.navbar-woms .navbar-nav > .dropdown > a:hover .caret,
.navbar-woms .navbar-nav > .dropdown > a:focus .caret {
    
}
.navbar-woms .navbar-nav > .open > a .caret, 
.navbar-woms .navbar-nav > .open > a:hover .caret, 
.navbar-woms .navbar-nav > .open > a:focus .caret {
    color: white;
    background-color: rgb(0, 44, 55);
}
.navbar-woms .navbar-nav .open .dropdown-menu> li > a, 
.navbar-woms .navbar-nav .open .dropdown-menu {
    background-color: white;
}

.navbar-woms .navbar-nav .dropdown-menu> li > a:hover,
.navbar-woms .navbar-nav .dropdown-menu> li > a:focus {
  	background-image:none !important;
  	color: white;
    background-color: rgb(0, 44, 55);
}

/* mobile version */
.navbar-woms .navbar-toggle {
    border-color: white;
}
.navbar-woms .navbar-toggle:hover,
.navbar-woms .navbar-toggle:focus {
    background-color: white;
}
.navbar-woms .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-woms .navbar-toggle:hover .icon-bar ,
.navbar-woms .navbar-toggle:focus .icon-bar {
    background-color: rgb(0, 44, 55);
}

@media (max-width: 767px) {
    .navbar-woms .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-woms .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-woms .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
    }
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*********************************************** 
 *	MODALS 
 ***********************************************/

.result-val {
	font-size: 500%;
}

.result-text {
	text-align: justify;
}

.textarea-woms {
	width: 100%; 
	font-size: 16px; 
	line-height: 18px;
}

.textarea-woms-modal {
	width: 100%; 
	font-size: 16px; 
	line-height: 18px;
}

.select2tags {
	width: 100%!important;
}

/*********************************************** 
 *	DOT / CIRCLE SYMBOL 
 ***********************************************/
.glyphicon.glyphicon-online-circle:before {
    content: "\25cf";
    font-size: 1.5em;
    color: rgb(132, 174, 40)!important;
}
.glyphicon.glyphicon-offline-circle:before {
    content: "\25cf";
    font-size: 1.5em;
    color: rgb(220, 41, 30)!important;
}
.glyphicon.glyphicon-default-circle:before {
    content: "\25cf";
    font-size: 1.5em;
    color: #ccc!important;
}

